body{
    background-color: rgb(0, 0, 0);
    font-family: cursive;
}

h1,h2{
    text-align: center;
    
}


h1{
    color: #edaefd;
    font-size: 50px;
}

h2{
    color: rgb(255, 169, 169);
    font-size: 25px;
}

a{
    color: rgb(255, 255, 255);
}


h3{
    font-size: 23px;
}

.summary{
    color: rgb(189, 187, 187);
    text-align: center;
    
}

.preamble{
    color: rgb(249, 255, 163);
    
}

.explanation{
    color: rgb(197, 255, 180);
}

.participation{
    color: rgb(183, 250, 255);
}

.benefits{
    color: rgb(201, 197, 255);
}

.requirements{
    color: rgb(255, 199, 222);
}

.design-selection{
    color: rgb(253, 203, 180);
}

.design-archives{
    color: rgb(215, 232, 255);
}

.zen-resources{
    color: rgb(250, 200, 250);
}

